{% extends "base.html" %}

{% block title %}Probers{% endblock %}

{% block above_content %}
    {%  include "configure_navbar.html" %}
{% endblock %}

{% block body %}
    <h1 class="title">Prober</h1>
    <h2>Edit</h2>
    <form method="post">
        {% csrf_token %}
        <table class="form">
            {{ form.as_table }}
        </table>
        <input type="submit" value="Submit">
    </form>

    <h2> Group Membership</h2>
    <ul>
        {% for group in prober.probegroup_set.all %}
            <li>{{ group }}</li>
        {% endfor %}
    </ul>

    <h2>Effective Targets</h2>
    <ul>
        {% for target in targets %}
            <li>{{ target }}</li>
        {% endfor %}
    </ul>


{% endblock %}
