{% extends "base.html" %}
{% block title %}Ping Dashboard{% endblock %}
{% block body %}
<h1 class="title">Ping Dashboard</h1>
<h3>Source-Destination Pairs</h3>
<table>
    <tr>
        <th>ID</th>
        <th>Prober</th>
        <th>Destination IP</th>
        <th>Polls</th>
        <th>Last Poll Time</th>
    </tr>
    {% for pair in src_dst_pairs %}
        <tr>
            <td><a href="/graph/{{ pair.id }}">{{ pair.id }}</a></td>
            <td>{{ pair.prober.name }}</td>
            <td>{{ pair.dst }}</td>
            <td>{{ pair.polls }}</td>
            <td>{{ pair.mtime }}</td>
        </tr>
    {% endfor %}
</table>
<h3>Debug</h3>
<ul>
    <li><a href="/cache_info/get_poll_data">Cache Info</a></li>
    <li><a href="/gc">Collect Garbage </a></li>
</ul>
{% endblock %}
